* {
    margin:0px;
    padding:0px;
    font-size: 20px;
    box-sizing: border-box;
}

html {
    height:100%;
}

body {
    height:100%;
}

header {
    width:100%;
    height:40px;
    background-color: grey;
    border-bottom: white 2px solid;
}

content {
    display: flex;
    flex-direction: row;
    height:100%;
}

#leftSideColumn {
    width: 30%;
    height: 100%;
    background-image: linear-gradient( rgb(184, 183, 194), rgb(166, 166, 209));
    border-right: 2px white solid;
    display: flex;
    flex-direction: column;
}

#todoList {
    margin:20px;
    font-size: 2em;
}

.leftButton {
    font-size: 1em;
    height:30px;
    margin-bottom: 10px ;
}

#deleteProject {
    margin-top: 50px
}

#rightSideColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: inset 0px 10p 0px 0px black;
    width:100%;
}

#endingSoonest {
    margin:20px;
    height: 200px;
}

.divider {
    height:2px;
    width:95%;
    margin:0px 10px 0px 10px; 
    border-top:1px solid black;
}

#questions {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 1px 5px 5px 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    text-align: center;
}

#blurBackground {
    opacity: 0.5;
    backdrop-filter: blur(50px);
    backdrop-filter: brightness(90%);
    width:100%;
    background-color: rgb(226, 227, 238);
}

.formTitle {
    padding: 20px 0px 0px 0px;
}

.formDescription {
    padding : 10px 0px 0px 0px;
    margin: 20px;
}

.fieldTitle {
    margin: 10px 0px 10px 0px;
}

.form {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#taskForm {
    width:300px;
    height: 300px;
}

#formButtonsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.twoFormButton {
    background-color: rgb(197, 196, 196);
    height: 30px;
    width:150px;
    border: black solid 1px;
    margin:20px;
    padding: 2px

}

#newProjectBox {
    width:400px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 1px 5px 5px 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    text-align: center;
}

#projectForm {
    width:300px;
    height: 100px;
}

#allTasks {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#projectBox {
    padding: 10px;
    margin-top:-10px;
}

.projectBoxes {
    text-align: center;
    font-size: 1.5em;
    background-color: rgb(242, 243, 201);
}

#projectTitleBox {
    text-align: center;
}

.newTaskBox {
    background:white;
    height: 170px;
    width: 200px;
    border: black solid 1px;
    border-radius: 5%;
    text-align: center;
    margin: 5px;
}

.lowAlert {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(116, 180, 116);
    width:100%;
    height: 30px;
    margin: 5px 0px 5px 0px;
}

.medAlert {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(180, 179, 116);
    width:100%;
    height: 30px;
    margin: 5px 0px 5px 0px;
}

.highAlert {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(250, 179, 161);
    width:100%;
    height: 30px;
    margin: 5px 0px 5px 0px;
}

.detailsButton {
    background-color: rgb(197, 196, 196);
    height: 30px;
    width:150px;
    border: black solid 1px;
    margin:20px;
    padding: 2px
}

#detailsBox {
    width:400px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 1px 5px 5px 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    text-align: center;
}

#priorityTitle {
    margin-top: 20px;
}

#priorityLevelBox {
    margin-top: 10px;
    width:100%;
    display: flex;
    flex-direction: row;
    height:20px;
}

#lowPriorColor {
    background: rgb(116, 180, 116);
    width: 33%;
    height:20px;
}

#medPriorColor {
    background:  rgb(233, 231, 150);
    width: 33%;
    height:20px;
}

#highPriorColor {
    background:  rgb(250, 179, 161);
    width: 33%;
    height:20px;
}

#lowPriorityIndicator {
    text-align: left;
}

#medPriorityIndicator {
    text-align: center;
}

#highPriorityIndicator {
    text-align: right;
}

#retrieveProjectBox {
    width:400px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 1px 5px 5px 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    text-align: center;
}

#savedProjectContainer {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.savedProject {
    height: 40px;
    width:100%;
    border: 1px solid black;
}